In [1]:
import pandas as pd
import numpy as np
import re
from openpyxl import load_workbook

In [4]:
file = "C:/Users/olran/OneDrive/Робочий стіл/Test MS Excel_2023_для аналітика 4 – копія.xlsx"
wb = load_workbook(file)
ws = wb["task2"]
print(len(ws.tables))

3

In [5]:
{key : value for key, value in ws.tables.items()}

{'Таблиця6': 'A2:C30', 'Таблиця9': 'E3:F7', 'Таблиця10': 'E9:F14'}

In [6]:
mapping = {}

for entry, data_boundary in ws.tables.items():
    data = ws[data_boundary]
    content = [[cell.value for cell in ent] 
               for ent in data ]
    
    header = content[0]
    rest = content[1:]

    df = pd.DataFrame(rest, columns = header)
    mapping[entry] = df

In [7]:
Таблиця2, Таблиця7, Таблиця8 = mapping.values()
task2_df1 = Таблиця2
task2_df2 = Таблиця7
task2_df3 = Таблиця8

In [8]:
display(task2_df1.head(), task2_df2.head(), task2_df3.head())

                                    Ref Code 1         Ref Code 2     None
0               m_reg_paid4_SOURCEREF_rm_thori           rm_thori  Пример*
1   rerwm_reg_paid4_SOURCEREF_rm_tyrrty9856739   rm_tyrrty9856739     None
2           rrewm_reg_paid2_SOURCEREF_ns_dfser           ns_dfser     None
3  rrwem_reg_paid3_SOURCEREF_wp_кеукеввапвпrwe  wp_кеукеввапвпrwe     None
4      rewm_reg_paid3_SOURCEREF_wp_w2екуеукпав               None     None

  Таблиця 2 Кількість у таблиці
0     paid1                 None
1     paid2                 None
2     paid3                 None
3     paid4                 None

  Таблиця 3 Кількість у таблиці
0        wp                 None
1        mb                 None
2        rm                 None
3        ns                 None
4        dr                 None

In [9]:
for index, row in task2_df1.iterrows():
    ref_code = row['Ref Code 1']
    if 'SOURCEREF_' in ref_code:
        start_index = ref_code.index('SOURCEREF_') + len('SOURCEREF_')
        b_value = ref_code[start_index:]
        task2_df1.at[index, 'Ref Code 2'] = b_value

In [10]:
subwords = ["paid1", "paid2", "paid3", "paid4"]

results = {subword: 0 for subword in subwords}

for ref_code in task2_df1['Ref Code 1']:
    for subword in subwords:
        results[subword] += ref_code.count(subword)

results_df = pd.DataFrame([results])

In [11]:
results_df = results_df.T
results_df.columns = ["Кількість у таблиці"]
task2_df2 = results_df

In [12]:
task2_df2

       Кількість у таблиці
paid1                    0
paid2                    7
paid3                   14
paid4                    7

In [13]:
subwords = ["wp", "mb", "rm", "ns", "dr"]

results = {subword: 0 for subword in subwords}

for ref_code in task2_df1['Ref Code 1']:
    for subword in subwords:
        results[subword] += ref_code.count(subword)

results_df_2 = pd.DataFrame([results])

In [14]:
results_df_2 = results_df_2.T
results_df_2.columns = ["Кількість у таблиці "]
task2_df3 = results_df_2

In [15]:
task2_df3

    Кількість у таблиці
wp                    10
mb                     3
rm                    13
ns                     3
dr                     0

In [16]:
display(task2_df1.head(), task2_df2.head(), task2_df3.head())

                                    Ref Code 1         Ref Code 2     None
0               m_reg_paid4_SOURCEREF_rm_thori           rm_thori  Пример*
1   rerwm_reg_paid4_SOURCEREF_rm_tyrrty9856739   rm_tyrrty9856739     None
2           rrewm_reg_paid2_SOURCEREF_ns_dfser           ns_dfser     None
3  rrwem_reg_paid3_SOURCEREF_wp_кеукеввапвпrwe  wp_кеукеввапвпrwe     None
4      rewm_reg_paid3_SOURCEREF_wp_w2екуеукпав     wp_w2екуеукпав     None

       Кількість у таблиці
paid1                    0
paid2                    7
paid3                   14
paid4                    7

    Кількість у таблиці
wp                    10
mb                     3
rm                    13
ns                     3
dr                     0

In [17]:
with pd.ExcelWriter(file, engine='openpyxl', mode='a',
                    if_sheet_exists="overlay") as writer:
    task2_df1.to_excel(writer, sheet_name="task2_solution", )
    task2_df2.to_excel(writer, sheet_name="task2_solution", startrow=0 ,startcol=13)
    task2_df3.to_excel(writer, sheet_name="task2_solution", startrow=5 ,startcol=13)